:root {
    --primary-color: #b6ccdf;
    --secondary-color: #0f90ff;
    --text-color: #090909;
    --background-color: white;
}

@font-face {
    font-family: "SarabunBold";
    src: url("../src/assets/fonts/Sarabun-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SarabunMedium";
    src: url("../src/assets/fonts/Sarabun-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SarabunRegular";
    src: url("../src/assets/fonts/Sarabun-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

body {
    color: var(--text-color);
    margin: 0;
    font-family: "SarabunRegular", sans-serif;
}

h1 {
    margin: 0;
    font-size: 2em;
    font-family: "SarabunBold", sans-serif;
}

h3 {
    margin: 0;
    font-size: 1.2em;
    font-family: "SarabunBold", sans-serif;
}

button {
    font-family: SarabunRegular, sans-serif;
    color: var(--text-color);
    padding: 0.8em 2.6em;
    font-size: 1em;
    border-radius: 0.5em;
    background: var(--background-color);
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: all 0.3s;
    box-shadow: 4px 4px 4px -1px var(--primary-color);
    width: fit-content;
}

button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px var(--primary-color),
        inset -4px -4px 12px #ffffff;
}

input:hover {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: var(--secondary-color);
}

/* BACKGROUND */
.background-wrapper {
    background-image: url("../src/assets/images/background-desktop.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.background-wrapper-light {
    background-image: url("../src/assets/images/background-desktop-light.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* START PAGE */
.page-wrapper {
    height: 93vh;
    padding: 50px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.start-page-btns-wrapper {
    display: flex;
    gap: 20px;
}

.h3-game-results {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: "SarabunMedium", sans-serif;
}

/* TABLES */
.table-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.table-row-wrapper {
    height: 24px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    padding: 5px 0px;

    div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.result-table {
    width: 350px;
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;

    div.table-row-wrapper {
        background-color: #ffffffbf;

        div {
            width: 120px;
        }
    }
}

div.table-row-wrapper.best-average-time {
    background-color: #b7f6cc;
}

/* TRAINER PAGE */
.sensitivity-row-wrapper {
    display: flex;
    gap: 10px;
}

.sensitivity-label-input {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
}

.volume-bar-container {
    width: 30px;
    height: 21px;
}

.volume-bar {
    background-color: green;
    max-width: 10px;
    transition: height 0.1s ease;
    transform: rotate(90deg);
}

.volume-weak {
    background-color: red;
}

.trainer-page-wrapper,
.game-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.about-trainer {
    max-width: 900px;
    padding-top: 2vh;
}

.notes-strings-text {
    font-size: 2.3em;
}

/* INPUTS MODAL */
.background-inputs-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 250, 250, 0.8);
}

.inputs-wrapper {
    position: absolute;
    top: 13vh;
    left: 30vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--text-color);
    padding: 0.7em 1.7em;
    min-width: 400px;
    font-size: 1em;
    border-radius: 0.5em;
    background: var(--background-color);
    border: 1px solid var(--primary-color);
    transition: all 0.3s;
    box-shadow: 2px 2px 6px var(--primary-color);

    h3 {
        font-width: 500;
    }
}

.inputs-btns-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;

    button {
        padding: 0.6em 1.9em;
    }
}

.header-inputs {
    font-family: SarabunMedium;
    padding-bottom: 10px;
}

.notes-wrapper,
.strings-wrapper,
.scale-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.notes-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
}

.frequency-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

/* CORRECT "MODAL" PAGE */
.correct-page-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.3);
    font-size: 100px;
    color: white;

    /* animation – fade in and out */
    -webkit-animation: fadeinout 0.5s ease-in-out forwards;
    animation: fadeinout 1s ease-in-out forwards;

    div {
        margin-top: 30vh;
    }
}

@-webkit-keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* MOBILE VERSION */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 768px) {
    .background-wrapper {
        background-image: url("../src/assets/images/background-mobile.png");
    }

    .background-wrapper-light {
        background-image: url("../src/assets/images/background-mobile-light.png");
    }

    .page-wrapper {
        height: 95vh;
    }

    .inputs-wrapper {
        min-width: auto;
        top: 10vh;
        left: 0;
        margin: 10px;
    }

    .trainer-page-wrapper,
    .game-page-wrapper {
        gap: 80px;
    }

    .notes-strings-text {
        font-size: 1.9em;
    }

    .inputs-wrapper {
        padding: 0.7em 1em;
    }

    .start-page-btns-wrapper {
        flex-direction: column;
        align-items: center;
    }
}